<!DOCTYPE html>
<html>
<head>
<title>The Recipe Repository</title>
<script src="/app.js" defer></script>
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <div id="navbar"></div>
  <script type="module">
          import { loadNav } from '../js/components.js';
          loadNav();
  </script>

  <div id="recipe-viewer" data-id="{{ .ID }}">    
    <h2>
      {{ .Title }}
      <hr></h2>
      <h4>
        By: {{ .Author }}
        <br /> Created: {{ .CreatedAt.Format "Jan 02, 2006" }}
        <br /> Updated: {{ .UpdatedAt.Format "Jan 02, 2006" }}
      </h4>
    

    <div class="content-card">
    	<img src={{ .ImageURL }} class="card-image">
    </div>
    
    <h5>
      Ingredients
      <hr>
    </h5>
    <div id="ingredient-list">
      <ul>
        {{ range .Ingredients}}
        <li> {{ .Name }} - {{ .Quantity }} {{ .Unit }}</li>
        {{ else }}
        <li>No ingredients available</li>
        {{ end }}
      </ul>
    </div>
    <pre>{{ .Description }}</pre> 
    <pre>{{ .Instructions }}</pre>
    <button id="addtolist">Add to Shopping List</button>
  </div>
  <dialog id="modal"></dialog>
<script type="module">
	import { addToListModal } from '/js/components.js';

	const recipeID = document.querySelector('#recipe-viewer').dataset.id;
	const btn = document.getElementById('addtolist');
	btn.addEventListener('click', async (e) => {
		e.preventDefault();
		await addToListModal(recipeID);
	});
</script>
</body>
</html>
